[Unit]
 Description=ArduPilot-Rover for Linux OPAL Board
 After=systemd-modules-load.service
 Documentation=https://ardupilot.org/copter/docs/common-autopilots.html
 Conflicts=arduplane.service arducopter.service ardurover.service

 [Service]
 Type=single
 ExecStart=/home/pi/ardurover -A  udp:192.168.1.144:14550:bcast  -c 1,2

 Restart=on-failure

 [Install]
 WantedBy=multi-user.target

